@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Chelsea+Market&family=Glegoo&family=Roboto:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main {    
    height: 1000px;
    width: 100%;  
    position: absolute;  
}

header{
    background-image: url('/gifs/backgroundGif.webp');
    background-attachment: fixed;
   
    height: 90%;
    width: 99.1vw;
    position: relative;
    background-position: left;
    display: flex;    
    align-items: center;
    padding-left: 400px;
    box-shadow: inset 10px px 10px 15px rgb(211, 0, 0);
    
    
    
    
    
}

#texto-e-imagem{
    display: flex;   
    width: 40%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
   
}

#textoMaior{
    font-size: 3em;
    color:#F2BE22 ;
    border-right: 2px solid rgba(255,255,255,0.75);
    white-space: nowrap;
    overflow: hidden;

   

}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 1.8s steps(40) 1s normal both;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 360px;
    }
}


@keyframes blinkCursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }

    to{
        border-right-color:transparent;
    }
}


@keyframes animationAvatar{
    0%{
        bottom: 0;
    }

   

    50%{
        bottom: 20px;
    }
   

    100%{
        bottom: 0;
    }  

}   

@keyframes animationSeta{
    0%{
        bottom: 40px;
    }

   

    50%{
        bottom: 50px;
    }
   

    100%{
        bottom: 40px;
    }  

} 

@keyframes animacaoH2{
    0%{
        top: 120px;
    }

   

    50%{
        top: 95px;
    }
   

    100%{
        top: 120px;
    }  

} 


.texto-apresentacao{
    font-size: 22px;
    color: white;
    font-family: 'Chelsea Market', cursive;  
    position: relative;    

}

#avatarImage{
    width: 280px;
    position: relative;    
 
}

.animationAvatar{
    animation: animationAvatar 4000ms infinite linear;    
}



.div-image-seta{
    position: absolute;
    left: 48%;
    bottom: 40px;
    width: 80px;
    height: 80px;
    background-color: rgba(25,25,25,0.5);
    border-radius: 50%;  
    

}

.div-image-seta:hover{
    animation: animationSeta 800ms infinite linear; 
}

#iconeSeta{
    width: 80px;
}

/* Section Um */

#primeira-parte{
    width: 100%;
    height: 900px;
    background-color: #F2BE22;
    color: #F2BE22;
    font-weight: bold;
    font-family: 'Chelsea Market', cursive;  
    text-align: center;
    padding: 15px;
    position: absolute;
  
}

.englobandoDoisTextos{
    width: 99%;
    display: flex;
    justify-content: space-between;
    height: 50%;
}

#helloWorld{
    font-size: 3em;
    color: black;
}

#firstContainer{
    width: 99%;
    height: 91%;
    position: absolute;
}




.div-texto-sectionUm{
    width: 49%;
    height: 50%;
    background-color: #0B2B40;
    color: aliceblue;
    position: relative;
    top: 120px;
    font-family: 'Biryani', sans-serif;

    border-radius: 7px ;
    text-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 5px rgba(45, 44, 44, 0.363);    

}

.div-texto-sectionUmSegundaParte{
    width: 49%;
    height: 50%;
    background-color: #0B2B40;
    color: aliceblue;
    position: relative;
   
    font-family: 'Biryani', sans-serif;

    border-radius: 7px ;
    text-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 5px rgba(45, 44, 44, 0.363);  
}

/* Parte Dois */

#teste{
    position: relative;
    top: 900px;
    height: 800px;
    text-align: center;
    font-family: 'Chelsea Market', cursive;  
}

/* Super Mario */


#game-body{
    width: 100%;
    height: 500px;
    border-bottom: 13px solid rgb(34, 185, 62);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
}

#h1Mario{
    color: white;
    font-size: 5em;
   
}

.h2Mario{
    top: 120px;
    left: 40%;
    position: absolute;
    animation: animacaoH2 800ms infinite linear; 
}
.mario{
    position: absolute;
    width: 140px;
    bottom: -4px;
    left: 10px;
    
    
}

.cano{
    width: 140px;
    position: absolute;
    bottom: -28px;
    right: 0;
    visibility:visible ;   
}

.backgroundTelaJogo{
    background-color: #0b2b4077;
  
}



.animacaoCano{
    animation: loading-cano 3s linear infinite;
}
@keyframes loading-cano{
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

.jump{
    animation: jump 500ms  ease-out;
}

.dead {
    animation: dead 1000ms ease-out;
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }


}

#button{
    visibility: hidden;
}



